<!DOCTYPE html>
<html>
  <head>
  		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Eportal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css">
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
	<script type="text/javascript" src="/javascript/home.js"></script>
		<script type="text/javascript">

</script>
  </head>
  <body style="background-color:#132157">
     
	<div class="parallax-container">
		<div class="row"><div class="col m12 l12 s12 center" style="padding-top:30px"><img class="responsive-img" style="height:150px;" src="/images/svnit.png"></div></div>
		<div class="row"><div class="col m12 l12 s12 center"><img class="responsive-img" style="height:75px;" src="/images/logo.png"></div></div>
		<div class="row"><div class="col m12 l12 s12 center"><img class="responsive-img" style="height:200px;" src="/images/info.png"></div></div>
      
        
        
        <div class="row z-depth-5" style="background-color:#132157; width:200px;" >
        	<form class="col s12">
        		<div class="container ">
        			<div class="input-field">
        				<input style="color:white;" id="pass" type="text" class="validate center-align" >
        				<label class="active " for="pass" style="font-size:12px">Enter Roll Number:</label>
        			</div>
        		</div>
        	</form>
        </div>
       <script type="text/javascript">
         $(document).ready(function(){
    $('#button').click(function(){
    var x;
    x=  $('#pass').val().toLowerCase();
    console.log(x);
    var y=x.substring(1,3);
    var z=x.substring(3,5);
    var a=x.substring(0,1);
    switch(y)
    {
      case '11':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
      break;

      case 'cy':
      break;
      }
      break;
      
      case '12':
      switch(z){
        case 'co':
      break;

      case 'me':
      break;

      case 'ce':
      break;

      case 'ec':
      break;

      case 'ee':
      break;

      case 'ch':
      break;
      }
      break;

      case '13':
      switch(z){
        case 'co':
      break;

      case 'me':
      break;

      case 'ce':
      break;

      case 'ec':
      break;

      case 'ee':
      break;
      
      case 'ch':
      break;
      }
      break;

      case '14':
      switch(z){
        case 'co':
     $("#button").attachEvent("onclick", window.open("https://www.google.com"));


      break;

      case 'me':
      break;

      case 'ce':
      break;

      case 'ec':
      break;

      case 'ee':
      break;
      
      case 'ch':
      break;
      }
      break;

      case '15':
      switch(a){
        case 'u':
        break;

        case 'i':
        break;
      }
      break;


    }; 
   

  });
});
</script>


		<div class="row"><div class="col m12 l12 s12 center"><a >

			<img id="button" class="responsive-img waves-effect waves-light " style="height:70px;" src="/images/button.png"></a></div></div>
		
		
        <div class="parallax">
			<img class="responsive-img" src="/images/10.jpg">
		</div>
	 </div>
 
	  <div style="background-color:#132157">
	 	<div class="row" style="color:white;" align="center">
	 	   <div class="col m6 l6 s6"><h4>© Powered by <a href="https://www.facebook.com/webdevlabs/" style="color:#1ABC9C" target="_new">
                                 WebDev Labs</a></h4></div>
	 	   	 <div class="col m6 l6 s6"><h4>Contact us at <a href="mailto:mail@webdevlabs.in" style="color:#1ABC9C">mail@webdevlabs.in</a></h4></div>
	    
	    </div>
 	 </div>
 	 <a id="14co" href="www.google.com"/>
 
	 
     <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/javascript/materialize.min.js"></script>

	
</body>

</html> 
   