<!DOCTYPE html>
<html>
  <head>
  		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Eportal</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css">
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
	<script type="text/javascript" src="/javascript/home.js"></script>
		<script type="text/javascript">

</script>
  </head>
  <body style="background-color:#132157">
     
	<div class="parallax-container">
		<div class="row"><div class="col m12 l12 s12 center" style="padding-top:20px"><img class="responsive-img"  src="/images/svnit.png"></div></div>
		<div class="row"><div class="col m12 l12 s12 center"><img class="responsive-img"  src="/images/papgenlogo.png"></div></div>
		<div class="row"><div class="col m12 l12 s12 center"><img class="responsive-img"  src="/images/info.png"></div></div>
      
        
        
        <div class="row z-depth-5" style="background-color:#132157; width:200px;" >
        	<form class="col s12">
        		<div class="container ">
        			<div class="input-field">
        				<input style="color:white;" id="pass" type="text" class="validate center-align" >
        				<label class="active " for="pass" style="font-size:12px">Enter Roll Number:</label>
        			</div>
        		</div>
        	</form>
        </div>

      
       <script type="text/javascript">
         $(document).ready(function(){
          
          $('.input-field').keydown(function(event){
            if(event.keyCode == 13){
            $('#button').click();
          }
        });
          
    $('#button').click(function(){
    var x;
    x=  $('#pass').val().toLowerCase();
    console.log(x);
    var y=x.substring(1,3);
    var z=x.substring(3,5);
    var a=x.substring(0,1);
    var d=new Date();
    var n=d.getMonth();
    if(n>=6)
    {
       switch(y)
    {
      case '11':
      switch(z){
        case 'ma':
         $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));

      break;

      case 'ph':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'cy':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;
      }
      break;
      
      case '12':
      switch(z){
        case 'ma':
         $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));

      break;

      case 'ph':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'cy':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

        case 'co':
         $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'me':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ce':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ec':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ee':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ch':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;
      }
      break;

      case '13':
      switch(z){
        case 'ma':
         $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));

      break;

      case 'ph':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'cy':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

        case 'co':
         $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'me':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ce':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ec':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ee':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;
      
      case 'ch':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;
      }
      break;

      case '14':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'cy':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

        case 'co':
     $("#button").attachEvent("onclick", window.open("https://www.google.com"));


      break;

      case 'me':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ce':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ec':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;

      case 'ee':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;
      
      case 'ch':
       $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
      break;
      }
      break;

      case '15':
      switch(a){
        case 'u':
         $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
        break;

        case 'i':
         $("#button").attachEvent("onClick", confirm("This is the beta version of the webapp it will soon be fuctional with your help for demo check out u14coXXX it should redirect to google or u14maXXX which will redirect to facebook"));
        break;
      }
      break;


    }; 
    }
  else
  {
     switch(y)
    {
      case '11':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
      break;

      case 'cy':
      break;
      }
      break;
      
      case '12':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
      break;

      case 'cy':
      break;

        case 'co':
      break;

      case 'me':
      break;

      case 'ce':
      break;

      case 'ec':
      break;

      case 'ee':
      break;

      case 'ch':
      break;
      }
      break;

      case '13':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
      break;

      case 'cy':
      break;

        case 'co':
      break;

      case 'me':
      break;

      case 'ce':
      break;

      case 'ec':
      break;

      case 'ee':
      break;
      
      case 'ch':
      break;
      }
      break;

      case '14':
      switch(z){
        case 'ma':
        $("#button").attachEvent("onclick", window.open("https://www.facebook.com"));

      break;

      case 'ph':
      break;

      case 'cy':
      break;

        case 'co':
     $("#button").attachEvent("onclick", window.open("https://www.google.com"));


      break;

      case 'me':
     
      break;

      case 'ce':
      break;

      case 'ec':
      break;

      case 'ee':
      break;
      
      case 'ch':
      break;
      }
      break;

      case '15':
      switch(a){
        case 'u':
        break;

        case 'i':
        break;
      }
      break;


    }; 
  }
  });


   
});
</script>


		<div class="row"><div class="col m12 l12 s12 center"><a >


		  <a class="btn-floating btn-large waves-effect z-depth-5" style="background-color:#132157"><i id="button" class="material-icons">get_app</i></a>
    </div></div>
		
        <div class="parallax">
			<img class="responsive-img" src="/images/10.jpg">
		</div>
	 </div>
 
	  <div style="background-color:#132157">
	 	<div class="row" style="color:white;" align="center">
	 	   <div class="col m4 l6 s6 " align="center">
        
        <h6   ><a href="https://www.facebook.com/webdevlabs/" style="color:#1ABC9C" target="_new">Powered by<br><img height="80px"  src="/images/web2.png"></a></h6> 
      
      
      
    </div>

        <!--<div class="col m4 l4 s4 ">
          <a class="waves-effect  z-depth-4 modal-trigger"style="padding:20px;" href="#modal1">FAQ</a>
           <!-- Modal Structure 
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> 
        </div> --> 


 
          


	 	   	 <div class="col m4 l6 s6"><h6 >Contact us at</h6><h6> <a href="mailto:mail@webdevlabs.in" style="color:#1ABC9C">mail@web<br>devlabs.in</a></h6></div>
	    
	    </div>
 	 </div>
 	 
  

        
  </script>


	 
     <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/javascript/materialize.min.js"></script>

	
</body>

</html> 
   